{
    "openconfig-system:server-group":
        {
            "name":"{{server_grp_name}}",
            "config":{"name":"{{server_grp_name}}",
            "type":"openconfig-aaa:{{server_grp_type}}"},
            "servers":{}
        }
}