{
    "openconfig-lldp:config":{
        "enabled":false,
        "f5-lldp:tlv-advertisement-state":"txonly",
        "f5-lldp:tlvmap":"chassis-id port-id ttl port-description system-name system-description system-capabilities pvid ppvid vlan-name protocol-identity macphy link-aggregation power-mdi mfs product-model"
    }
}