{
    "openconfig-interfaces:interfaces": {
        "interface": [
            {
                "name": "2.0",
                "config": {
                    "enabled": {{ state_bool }}
                }
            }
        ]
    }
}